In [1]:
import kkdatac

In [8]:
query = """SELECT
    ts_code,
    trade_date,
    name,
    pct_change
FROM bak_daily
WHERE ts_code = '600733.SH'
AND name = '北汽蓝谷'
ORDER BY trade_date ASC
"""

In [9]:
kkdatac.sql(query)

/Users/simonwsy/kakiquant_project/kkdatac/kkdatac/client.py:34: UserWarning: API key is not set. Using free version now. Some features may not be available.
  warnings.warn("API key is not set. Using free version now. Some features may not be available.")

        ts_code trade_date  name  pct_change
0     600733.SH 2018-09-27  北汽蓝谷      -36.88
1     600733.SH 2018-09-28  北汽蓝谷       10.00
2     600733.SH 2018-10-08  北汽蓝谷        3.35
3     600733.SH 2018-10-09  北汽蓝谷        8.33
4     600733.SH 2018-10-10  北汽蓝谷       -5.73
...         ...        ...   ...         ...
1423  600733.SH 2024-09-03  北汽蓝谷        2.87
1424  600733.SH 2024-09-04  北汽蓝谷        3.38
1425  600733.SH 2024-09-05  北汽蓝谷       -1.00
1426  600733.SH 2024-09-06  北汽蓝谷        1.87
1427  600733.SH 2024-09-09  北汽蓝谷       -4.51

[1428 rows x 4 columns]