In [1]:
import kkdatac

In [2]:
query = """SELECT
    ts_code,
    trade_date,
    name,
    pct_change
FROM bak_daily
WHERE ts_code = '600733.SH'
AND name = '北汽蓝谷'
ORDER BY trade_date ASC
"""

In [3]:
kkdatac.sql(query)

/Users/simonwsy/kakiquant_project/kkdatac/kkdatac/client.py:49: UserWarning: API key is not set. Using free version now. Some features may not be available.
  warnings.warn("API key is not set. Using free version now. Some features may not be available.")

Traffic used: 15310 bytes (compressed), 62731 bytes (decompressed)
Time used: 0.00 s (conversion), 0.00 s (decompression), 0.00 s (loading)

        ts_code trade_date  name  pct_change
0     600733.SH 2018-09-27  北汽蓝谷      -36.88
1     600733.SH 2018-09-28  北汽蓝谷       10.00
2     600733.SH 2018-10-08  北汽蓝谷        3.35
3     600733.SH 2018-10-09  北汽蓝谷        8.33
4     600733.SH 2018-10-10  北汽蓝谷       -5.73
...         ...        ...   ...         ...
1424  600733.SH 2024-09-04  北汽蓝谷        3.38
1425  600733.SH 2024-09-05  北汽蓝谷       -1.00
1426  600733.SH 2024-09-06  北汽蓝谷        1.87
1427  600733.SH 2024-09-09  北汽蓝谷       -4.51
1428  600733.SH 2024-09-10  北汽蓝谷        0.74

[1429 rows x 4 columns]

In [4]:
query = "SELECT * FROM daily_basic ORDER BY trade_date desc LIMIT 100"

In [5]:
kkdatac.sql(query)

/Users/simonwsy/kakiquant_project/kkdatac/kkdatac/client.py:49: UserWarning: API key is not set. Using free version now. Some features may not be available.
  warnings.warn("API key is not set. Using free version now. Some features may not be available.")

Traffic used: 10923 bytes (compressed), 17021 bytes (decompressed)
Time used: 0.00 s (conversion), 0.00 s (decompression), 0.00 s (loading)

,ts_code,trade_date,close,turnover_rate,turnover_rate_f,volume_ratio,pe,pe_ttm,pb,ps,ps_ttm,dv_ratio,dv_ttm,total_share,float_share,free_share,total_mv,circ_mv,limit_status
0,600847.SH,2024-09-10,8.14,12.7207,16.6491,4.70,0.0000,0.0000,1.9187,2.3438,2.3386,0.0000,0.0000,1.532874e+04,1.532874e+04,11711.8214,1.247759e+05,1.247759e+05,0
1,600848.SH,2024-09-10,8.29,0.1729,0.5392,1.18,19.7159,25.3951,1.1383,2.9653,2.6409,2.4125,2.4125,2.522487e+05,2.393912e+05,76770.3939,2.091142e+06,1.984553e+06,0
2,600850.SH,2024-09-10,17.50,1.3525,2.0454,1.13,24.2829,24.1928,2.7720,1.2068,1.1769,1.7028,2.5713,6.896857e+04,6.085787e+04,40241.0188,1.206950e+06,1.065013e+06,0
3,600851.SH,2024-09-10,4.86,1.4502,3.0821,2.02,35.3326,35.3104,1.5094,4.9606,6.0859,0.9259,1.3374,1.207057e+05,7.382061e+04,34734.3763,5.866296e+05,3.587682e+05,0
4,600853.SH,2024-09-10,3.06,0.6760,1.2131,0.94,9.2931,8.8835,1.0952,0.1782,0.1942,1.1439,1.1438,1.014778e+05,1.008852e+05,56216.1916,3.105219e+05,3.087087e+05,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,601088.SH,2024-09-10,37.49,0.1129,0.6950,0.92,12.4782,13.3205,2.1148,2.1712,2.1798,6.8018,6.0283,1.986852e+06,1.649104e+06,267832.8759,7.448708e+07,6.182490e+07,0
96,601099.SH,2024-09-10,3.15,1.8956,2.1278,0.85,85.6983,196.8979,2.2496,15.6646,18.4534,0.0000,0.0000,6.816316e+05,6.816316e+05,607227.6395,2.147140e+06,2.147140e+06,0
97,601066.SH,2024-09-10,19.52,0.3155,1.1534,1.37,21.5241,27.1118,2.1245,6.5142,7.8423,1.3832,1.2807,7.756695e+05,3.811362e+05,104246.0291,1.514107e+07,7.439779e+06,0
98,601065.SH,2024-09-10,8.22,0.5875,1.0490,1.16,10.6730,10.0118,1.2664,1.8298,1.8614,0.9489,4.2579,6.427761e+04,4.162561e+04,23310.3542,5.283619e+05,3.421625e+05,0
99,601086.SH,2024-09-10,3.73,1.5836,6.4697,0.75,15.7467,33.8790,1.6189,2.5620,2.8001,2.6810,4.7975,6.660000e+04,6.660000e+04,16301.3000,2.484180e+05,2.484180e+05,0

In [6]:
query = "SELECT * FROM weekly LIMIT 100"

In [7]:
kkdatac.sql(query)

/Users/simonwsy/kakiquant_project/kkdatac/kkdatac/client.py:49: UserWarning: API key is not set. Using free version now. Some features may not be available.
  warnings.warn("API key is not set. Using free version now. Some features may not be available.")

Traffic used: 5600 bytes (compressed), 10418 bytes (decompressed)
Time used: 0.00 s (conversion), 0.00 s (decompression), 0.00 s (loading)

,ts_code,trade_date,close,open,high,low,pre_close,change,pct_chg,vol,amount
0,000001.SZ,1991-07-05,32.97,33.65,33.65,32.97,33.82,-0.85,-0.0251,1700.0,56474.0
1,000001.SZ,1991-07-12,32.17,32.65,32.65,32.17,32.81,-0.64,-0.0195,1600.0,52000.0
2,000001.SZ,1991-07-19,31.05,31.69,31.69,31.05,31.85,-0.80,-0.0251,500.0,15781.0
3,000001.SZ,1991-07-26,30.14,30.44,30.44,30.14,30.59,-0.45,-0.0147,500.0,15130.0
4,000001.SZ,1991-08-02,29.24,29.84,29.84,29.24,29.99,-0.75,-0.0250,2300.0,68122.0
...,...,...,...,...,...,...,...,...,...,...,...
95,000001.SZ,1993-05-28,28.30,28.60,28.65,26.60,28.55,-0.25,-0.0088,9305900.0,259048004.0
96,000001.SZ,1993-06-04,28.90,28.45,29.50,28.40,28.30,0.60,0.0212,7232000.0,209156628.0
97,000001.SZ,1993-06-11,27.75,29.00,29.05,27.65,28.90,-1.15,-0.0398,3004600.0,85389532.0
98,000001.SZ,1993-06-18,27.75,27.75,27.80,26.80,27.75,0.00,0.0000,3585300.0,97513966.0
99,000001.SZ,1993-06-25,27.05,27.90,28.20,26.90,28.05,-1.00,-0.0357,3707400.0,101424726.0

In [8]:
# EMA 20 & 60
query = """
SELECT
    ts_code,
    trade_date,
    close,
    avg(close) OVER (PARTITION BY ts_code ORDER BY trade_date ROWS BETWEEN 19 PRECEDING AND CURRENT ROW) AS sma20,
    avg(close) OVER (PARTITION BY ts_code ORDER BY trade_date ROWS BETWEEN 59 PRECEDING AND CURRENT ROW) AS sma60
FROM weekly
WHERE ts_code = '600733.SH'
ORDER BY ts_code, trade_date
"""

In [9]:
kkdatac.sql(query)

/Users/simonwsy/kakiquant_project/kkdatac/kkdatac/client.py:49: UserWarning: API key is not set. Using free version now. Some features may not be available.
  warnings.warn("API key is not set. Using free version now. Some features may not be available.")

Traffic used: 29050 bytes (compressed), 58662 bytes (decompressed)
Time used: 0.00 s (conversion), 0.00 s (decompression), 0.00 s (loading)

        ts_code trade_date  close      sma20      sma60
0     600733.SH 1996-08-16  10.48  10.480000  10.480000
1     600733.SH 1996-08-23   8.29   9.385000   9.385000
2     600733.SH 1996-08-30   8.55   9.106667   9.106667
3     600733.SH 1996-09-06   9.68   9.250000   9.250000
4     600733.SH 1996-09-13   9.10   9.220000   9.220000
...         ...        ...    ...        ...        ...
1301  600733.SH 2024-08-09   8.02   7.748500   6.458833
1302  600733.SH 2024-08-16   7.46   7.744500   6.492333
1303  600733.SH 2024-08-23   6.98   7.724500   6.516333
1304  600733.SH 2024-08-30   6.71   7.710000   6.535833
1305  600733.SH 2024-09-06   7.09   7.712000   6.564333

[1306 rows x 5 columns]

In [10]:
import pandas as pd
query = """
    SELECT
        ts_code,
        trade_date,
        close
    FROM weekly
    WHERE trade_date >= '2020-01-01'
    ORDER BY ts_code, trade_date
"""
data = kkdatac.sql(query)

# Convert data to pandas DataFrame
df = pd.DataFrame(data, columns=['ts_code', 'trade_date', 'close'])

# Calculate EMA using pandas for each ts_code
def calculate_ema(df, span):
    return df.groupby('ts_code').apply(lambda x: x.set_index('trade_date')['close'].ewm(span=span, adjust=False).mean()).reset_index()

# Calculate 20-period and 60-period EMA
df['ema20'] = calculate_ema(df, 20)['close']
df['ema60'] = calculate_ema(df, 60)['close']

# Output the result
print(df.head())

/Users/simonwsy/kakiquant_project/kkdatac/kkdatac/client.py:49: UserWarning: API key is not set. Using free version now. Some features may not be available.
  warnings.warn("API key is not set. Using free version now. Some features may not be available.")

Traffic used: 4864026 bytes (compressed), 31949606 bytes (decompressed)
Time used: 0.01 s (conversion), 0.02 s (decompression), 0.06 s (loading)

/var/folders/l3/3nn8r4195jx8b6rzwks1y1pr0000gn/T/ipykernel_12511/4203310002.py:18: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  return df.groupby('ts_code').apply(lambda x: x.set_index('trade_date')['close'].ewm(span=span, adjust=False).mean()).reset_index()

     ts_code trade_date  close      ema20      ema60
0  000001.SZ 2020-01-03  17.18  17.180000  17.180000
1  000001.SZ 2020-01-10  16.69  17.133333  17.163934
2  000001.SZ 2020-01-17  16.39  17.062540  17.138560
3  000001.SZ 2020-01-23  15.54  16.917536  17.086148
4  000001.SZ 2020-02-07  14.62  16.698723  17.005290

/var/folders/l3/3nn8r4195jx8b6rzwks1y1pr0000gn/T/ipykernel_12511/4203310002.py:18: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  return df.groupby('ts_code').apply(lambda x: x.set_index('trade_date')['close'].ewm(span=span, adjust=False).mean()).reset_index()

In [11]:
df.to_pickle('ema.pkl')